/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

/* EJQ-made the below tag to a class name as it was impacting the size of the user profile pic; udated corresponding item in the home.js file */
.home-logo-img{
    height: 100px;
    width: 100px;
}

.home-container {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.7; /* Adjust this value to make the background more or less visible */
}

.content {
    position: relative;
    z-index: 1;
    /* Add any additional styling for your content here */
}